<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Home - My Stocks</h1>
    <form action="/my-stocks/get-stock-info" method="post">
        <label> Stock Symbol
            <input name="symbol">
        </label>
        <button type="submit">Get info</button>
    </form>
    <div>
        <h3>USER DATA</h3>
        <div>
            <p>Name: [[${user.fullName}]]</p>
        </div>
        <h2>USER ACCOUNT</h2>
        <div>
            <p>Balance: [[${userAccount.balance}]]</p>
        </div>
        <form>
            
        </form>
        <h3>STOCK INFO</h3>
        <div th:if="${stock != null}">
            <p>Symbol: [[${stock.symbol}]]</p>
            <p>Open: [[${stock.open}]]</p>
        </div>
    </div>
</body>
</html>